<main class="container">
  <% if info = get_flash(@conn, :info) do %>
  <div class="notification is-info is-ligth">
    <button class="delete"></button>
    <%= info %>
  </div>
  <% end %>
  <% if error = get_flash(@conn, :error) do %>
  <div class="notification is-danger is-ligth">
    <button class="delete"></button>
    <%= error %>
  </div>
  <% end %>
  <%= @inner_content %>
</main>
